@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Thitaphon 1650706839</h1>
    <h2 class="display-4">tk</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Supernova</a>.</p>
</div>
